
body {
    background-color: #2C3E50; /* Темный серо-голубой фон */
    color: #ffffff; /* Белые шрифты */
}
header .navbar {
    background-color: #34495e; /* Темный фон для навигации */
}
header a {
    color: #ecf0f1; /* Белый текст для ссылок */
    transition: color 0.3s;
}
header{
    line-height: 40px;
}
.header-div{
    font-size: 20px;
    height: 100px;
}
span{
    font-size: 100px;
}
header a:hover {
    color: #d8b4fe; /* Светло-фиолетовый при наведении */
}
.btn-primary {
    background-color: #e67e22; /* Оранжевый цвет кнопок */
    border: none;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn-logout{
    margin-top: 8px;
}
.btn-primary:hover {
    background-color: #d35400; /* Более тёмный оранжевый при наведении */
}
.btn-secondary {
    background-color: #6f42c1; /* Фиолетовый цвет кнопок */
    border: none;
    color: #ffffff;
}
.btn-secondary:hover {
    background-color: #5a32a3; /* Более тёмный фиолетовый при наведении */
}
.pricing-header {
    background-color: #34495e; /* Темный фон для заголовков */
    border-radius: 10px;
    padding: 2rem;
}
.pricing-header h1 {
    color: #ffffff; /* Белый цвет для заголовков */
}

.welcome-heading{
    margin-bottom: 3.0rem; /* Отступ снизу */
    margin-top: 3.0rem; /* Отступ снизу */
}

.welcome-text {
    color: #ffffff; /* Темно-серый цвет текста */
    font-size: 2.0rem; /* Увеличенный размер шрифта */
    line-height: 1.6; /* Увеличенная межстрочная высота */
    max-width: 1220px; /* Ограниченная ширина для текста */
    margin: 0 auto; /* Центрирование текста */
    padding: 0 1rem; /* Внутренние отступы по бокам */
}
.dv1{
    text-align: right;
    margin-top: 20px;
}

.form-register{margin-top: 100px}
.form-register-field{margin-top: 25px}

